# App
NODE_ENV=
PORT=
API_BASE_URL=

# Database
DATABASE_URL=

# Redis
REDIS_HOST=
REDIS_PORT=

# Auth
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_EXPIRES_IN=

# Throttler
THROTTLER_TTL=
THROTTLER_LIMIT=

# Docker
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=